<section id="about">
  <div class="container-fluid">
    <h2>Letter 10 Productions</h2>
    <p>Letter 10 Productions is an independent production company based in the San Francisco Bay area with a presence in New York. Television veteran Joel Patterson formed the company building on his established track record of creating and producing compelling content that translates into high ratings for broadcasters.</p>
    <p>As the former Executive Producer/Showrunner of History's Pawn Stars, Patterson is a passionate storyteller inspired and driven by dynamic formats. Patterson is also the creator of History’s Counting Cars - which remains the network's highest rated unscripted series premiere. His other experiences include 60 Minutes, 48 Hours, MSNBC, WE tv, IFC, Discovery, A&E and Science.</p>
    <p>Letter 10 has assembled an elite production team that shares a common vision and goal. Beyond delivering captivating characters and compelling subject material, their core values revolve around integrity, engaging viewers, and exceeding client expectations. Their skills, passion, and execution are second to none.</p>
    <p>Since launching, Letter 10 has developed and produced for History, Travel, Science, HGTV, DIY, Lifetime, Oxygen and Smithsonian and has a variety of new projects in the pipeline.</p>
    <br>
    <h4>Brooke Balick</h4>
    <h5>Head of Development / Executive Producer</h5>
    <p>A seasoned development, casting and production executive, Brooke has been in television for more than fifteen years, working on everything from blue chipdocs and man reality shows to ludicrous house elimination formats and poplicious soap docs. She has experience as a network and third party development executive and has created and shaped hundreds of hours of programming for networks including VH1, MTV, Bravo, TLC, A&E, Sundance,HGTV, Food Network, Travel, Discovery, NatGeo, History and Science. Whether she's embedded with rappers, hermits, sexperts, seniors or adventurers, her curiosity always grants her access into unique worlds and big characters that make for dynamicTV.</p>
    <br>
    <h4>Peter Van Pelt</h4>
    <h5>Executive Producer / Showrunner</h5>
    <p>Peter accidentally started working in reality TV when he interned on a little show called America's Funniest Home Videos. He's a creative executive who knows how to create storylines and shape content and since that first job, he's punched up scripts for B-movie kingRoger Corman, delved into every food origin imaginable, investigated historical and medical mysteries (History Detectives,Dr. G), run more than 200 episodes ofHistory's biggest hit to date (Pawn $tars),overseen psychic matchmaking, helped kids talk to parents about sex (Dr. Drew’s Sex with Mom & Dad) and shaped stories for the toughest (Yukon)men on earth.</p>
  </div>
</section>
