<section id="contact">
  <div class="container-fluid">
    <p>Letter 10 Productions:</p>
    <p><a href="mailto:info@letter10productions.com">info@letter10productions.com</a></p>
    <br>
    <p>Representation:</p>
    <p>Shade Grant</p>
    <p>ICM Partners</p>
    <p></p>
    <p><a href="tel:+2125565777">212-556-5777</a></p>
    <p><a href="mailto:sgrant@icmpartners.com">sgrant@icmpartners.com</a></p>
  </div>
</section>
