<section id="contact">
  <div class="container-fluid">
    <p>Letter 10 Productions:</p>
    <p><a href="tel:+9252475937">925-247-5937</a></p>
    <p><a href="tel:+6463731675">646-373-1675</a></p>
    <p><a href="mailto:joel.patterson@letter10productions.com">joel.patterson@letter10productions.com</a></p>
    <br>
    <p>Representation:</p>
    <p>Shade Grant</p>
    <p>ICM Partners</p>
    <p></p>
    <p><a href="tel:+2125565777">212-556-5777</a></p>
    <p><a href="mailto:sgrant@icmpartners.com">sgrant@icmpartners.com</a></p>
  </div>
</section>
