<section id="index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6" "col-md-6">
        <h2 class="index-title">The Unknown <br>Flag Raisers <br>of Iwo Jima</h2>
        <h4>Using modern science to examine the iconic photo, an unnamed hero for over 70 years is identified.</h4>
        <div id="learn">
          <a href="http://www.smithsonianchannel.com/shows/the-unknown-flag-raiser-of-iwo-jima/0/3435576?an=featured" target="_blank" role="button" class="btn btn-primary-outline">Learn More</a>
        </div>
      </div>
      <div class="col-xs-6" "col-md-6">
        <div class="thumbnail" id="cheat-day">
          <%= image_tag("cheat_day.png", alt: "Cheat Day Chowdown") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" "col-md-6">
        <h2 class="index-title">The Unknown <br>Flag Raisers <br>of Iwo Jima</h2>
        <h4>Using modern science to examine the iconic photo, an unnamed hero for over 70 years is identified.</h4>
        <div id="learn">
          <a href="http://www.smithsonianchannel.com/shows/the-unknown-flag-raiser-of-iwo-jima/0/3435576?an=featured" target="_blank" role="button" class="btn btn-primary-outline">Learn More</a>
        </div>
      </div>
      <div class="col-xs-6" "col-md-6">
        <div class="thumbnail" id="iwo-jima">
          <%= image_tag("Iwo-Jima.jpg", alt: "Iwo Jima") %>
        </div>
      </div>
    </div>
  </div>
</section>
