<section id="index">
  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-6" "col-md-6">
      <h2>The Unknown <br>Flag Raisers <br>of Iwo Jima</h2>
      <h4>Using modern science to examine the iconic photo, an unnamed hero for over 70 years is identified.</h4>
      <button type="button" class="btn btn-primary-outline">Learn More</button>
    </div>
    <div class="col-xs-6" "col-md-6">
      <div class="thumbnail" id="iwo-jima">
        <%= image_tag("Iwo-Jima.jpg", alt: "Iwo Jima") %>
      </div>
    </div>
  </div>
</div>
</section>
