<section id="index">
  <div class="container-fluid">
    <div class="row">
      <div class="index-block">
        <div class="col-xs-5" "col-md-6">
          <h2 class="index-title  text-right">The Unknown Flag Raiser <br>of Iwo Jima</h2>
          <h4 class="text-right">A Groundbreaking Documentary Uncovering <br>a 70-Year Old Mystery</h4>
          <h5 class="text-right">The Smithsonian Channel</h5>
          <div class="text-right" id="learn">
            <a href="http://www.smithsonianchannel.com/shows/the-unknown-flag-raiser-of-iwo-jima/0/3435576?an=featured" target="_blank" role="button" class="btn btn-primary-outline">Learn More</a>
          </div>
        </div>
        <div class="col-xs-7" "col-md-6">
          <div class="index-photo" id="iwo-jima">
            <%= image_tag("Iwo-Jima.jpg", alt: "Iwo Jima") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="index-block">
        <div class="col-xs-5" "col-md-4">
          <h2 class="index-title text-right">Cheat Day Chowdown</h2>
          <h4 class="text-right">A New Show Dedicated <br>to Treating Yourself</h4>
          <h5 class="text-right">The Travel Channel</h5>
          <div class="text-right" id="learn">
            <a href="http://www.travelchannel.com/shows/cheat-day-chowdown" target="_blank" role="button" class="btn btn-primary-outline">Learn More</a>
          </div>
        </div>
        <div class="col-xs-7" "col-md-8">
          <div class="index-photo" id="cheat-day">
            <%= image_tag("cheat_day.jpg", alt: "Cheat Day Chowdown") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
