<section id="reel">
  <h1>Letter 10 Reel</h1>
  <!-- 16:9 aspect ratio -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="..."></iframe>
    <iframe src="//player.vimeo.com/video/122838180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/122838180"></p>
  </div>
</section>
