// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$outside-color: black;

body {
  color: white;
  font-family: montserrat;
}

body div.container-fluid {
  background-color: black;
  background-repeat: no-repeat;
  background-image: image-url("L10TEXTURE.png");
}

h4 {
  color: khaki;
  font-family: sans-serif;
}

nav.navbar {
  border: 1px none;
  margin-bottom: 0px;
}

div.navbar-header {
  height: 5em;
  background-color: $outside-color;
}

div#header {
  border-bottom: solid 3px $outside-color;
}

a.navbar-brand {
  padding: 0;
}

a.navbar-brand img {
  width: 10em;
  padding-right: 1em;
}

button.navbar-toggle.collapsed {
  background-color: floralwhite;
}

div.thumbnail {
  margin-bottom: 0px;
  border-radius: 0px;
  border: 1px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

div.thumbnail img {
  height: 4em;
  filter: grayscale(100%);
}

div.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

div#logos {
  margin: auto;
}

section#credit {
  text-align: center;
  background-color: gray;
}

footer {
  background-color: $outside-color;
  color: white;
}


/*Index Page*/

section#index {
  line-height: 7em;
}

h2.index-title {
  color: blue;
}

div#iwo-jima.thumbnail {
  padding: 0px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 4px;
}

div#learn {
  line-height: 4em;
}

#iwo-jima img {
  height: 16em;
  width: 100%;
}

.btn-primary-outline {
  color: #0275d8;
  background-color: white;
  background-image: none;
  border-color: #0275d8;
}


/*Reel Page*/
div.bio-photo img {
  height: 10em;
}

/*Reel Page*/

section#reel {
  text-align: center;
  padding-bottom: 2em;
}

/*Contact Page*/

section#contact {
  text-align: center;
}

/*Screen Size*/

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }

  div#navbar-collapse-1.collapse.navbar-collapse {
    background-color: black;
  }
}

@media (min-width: 1170px) {
  body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
