// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-color: black;

div.container-fluid {
  background-color: $header-color;
}

div.navbar-header {
  height: 5em;
}

a.navbar-brand {
  padding: 0;
}

a.navbar-brand img {
  width: 10em;
  padding-right: 1em;
}

button.navbar-toggle.collapsed {
  background-color: floralwhite;
}

div.thumbnail img {
  height: 3em;
}
