// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$outside-color: black;

nav.navbar {
  border: 1px none;
}

div.navbar-header {
  height: 5em;
  background-color: $outside-color;
}

a.navbar-brand {
  padding: 0;
}

a.navbar-brand img {
  width: 10em;
  padding-right: 1em;
}

button.navbar-toggle.collapsed {
  background-color: floralwhite;
}

div.thumbnail {
  margin-bottom: 0px;
  border-radius: 0px;
  border: 1px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

div.thumbnail img {
  height: 4em;
  filter: grayscale(100%);
}

div.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

div#logos {
  margin: auto;
}

section#credit {
  text-align: center;
}

footer {
  background-color: $outside-color;
  color: white;
}
